# compiled output
/dist
/build
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env
.env.local
.env.*.local

# tests / coverage
/coverage
/.nyc_output

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# temp
*.tsbuildinfo

/generated/prisma
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal
/uploads
/scripts/.cache
